body {
  background-color: #DDD;
  font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
  font-family: akashi;
  src: url(Akashi.ttf);
}

h1 {
  font-family: akashi;
  text-align: center;
  margin-top: 1em;
}

.centered {
  text-align: center;
}

.subtext {
  font-size: 1.5em;
}

.congrats {
  color: rgb(117, 155, 30);
}

.error {
  color: rgb(199, 31, 31);
}

.user-error {
  color: rgb(103, 120, 205);
}

.name, .time {
  width: 3em;
}

.name {
  text-transform: uppercase;
}

.submit {
  display: block;
  margin: 1em auto auto;
}

a {
  text-decoration: none;
  color: black;
}

.cta {
  display: block;
  background-color: rgb(139, 171, 66);
  margin-left: auto;
  margin-right: auto;
  font-family: akashi;
}

.below {
  margin-top: 1em;
}