body {
  background-color: rgb(58, 129, 186);
}

@font-face {
  font-family: akashi;
  src: url(Akashi.ttf);
}

h1 {
  font-family: akashi;
}

a {
  text-decoration: none;
}

.name {
  width: 2em;
}

.cta {
  background-color: rgb(139, 171, 66);
}